.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-cls {
    position: relative;
}
.logo-cls p {
    font-size: 24px;
    font-weight: 600;
}

.logo-cls img {
    position: absolute;
    bottom: -2px;
    z-index: -1;
    width: 70px;
    right: -5px;
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-menu li:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-close {
    display: none;
}

.nav-open {
    display: none;
}

@media(max-width:1024px) {
    .navbar {
        margin: 20px 6%;
    }

    .navbar .nav-connect {
        display: none;
    }

    .nav-open {
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }

    .nav-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        cursor: pointer;
        margin-bottom: 100px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 100;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}